<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remind Me</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap" rel="stylesheet">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Remind Me
    </h1>
    {{#if logged_in}}
    <nav>
      <p id="reminder-count">Total reminders: {{reminders.length}}</p>
      <button class="btn align-right" id="logout">logout</button>
    </nav>
    <div class="form-group">
    </div>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>

  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  
  {{/if}}
</body>

</html>