    {
        box-sizing: border-box;
    }

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 300px;
    }

    .reminder-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 10px solid #f1f1f1;
        z-index: 9;
    }

    .reminder-container {
        width: 300px;
        padding: 10px;
        background-color: white;
    }

    .reminder-container input[type=form-input],
    .reminder-container input[type=form-input] {
        width: 100%;
        display: block;
        padding: 20px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .reminder-container input[type=form-input]:focus,
    .reminder-container input[type=form-input]:focus {
        background-color: #ddd;
        outline: none;
    }

    .reminder-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .reminder-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }


    /* main css */

    body {
        font-family: 'Inter Tight', sans-serif;
    }

    h1 {
        font-size: 100px;
    }